@import "../../pages/index.scss";
* {
  scroll-behavior: smooth;
}

.navbar {
  &-container {
    @media screen and (min-width: 768px) {
      border-right: 3px solid $border-color;
      display: flex;
      flex-direction: column;
      min-width: 180px;
      height: 100vh;
    }
  }

  &-brand {
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 13px;
    }
  }
}
