@import "../../pages/variables.scss";
.button {
  &-primary {
    width: 150px;
    position: relative;
    display: block;
    z-index: 10;
    padding: 5px;
    border: $button-color 3px solid;
  }
}

.button-container {
  position: relative;
  width: 150px;
  z-index: 5;
  display: block;
  text-align: center;
  &-primary::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $button-color;
    opacity: 0;
  }
  &-primary:hover::after {
    width: 100%;
    opacity: 1;
    transition: 500ms;
    -webkit-transition: 500ms;
  }
}
