@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  height: 100vh;
  position: relative;
  z-index: -1;
  background-color: $background-color;
  font-family: "Roboto", sans-serif;
}

// Prevent automatically scrolling to top in the background when opening a modal.
body.modal-open {
  position: static !important;
  overflow: visible;
  padding: 0 !important;
}

.container {
  max-width: 850px;
  padding: 40px;
  color: $font-color-inactive;
  @media screen and (max-width: 767px) {
    align-items: center;
  }
}

#home {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: calc(100vh - 56px);
}

.highlight {
  color: $font-color-active;
}

// Override react-bootstrap CSS.
.navbar-expand-md .navbar-nav {
  width: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: $mobile-nav-background-color;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: $background-color;
  }
  .navbar-brand {
    color: $font-color-inactive;
    margin-right: 0;
  }

  .navbar-brand:visited {
    color: $font-color-inactive;
  }
  .navbar-brand:hover {
    color: $font-color-active;
  }

  .navbar-toggler {
    background-color: $font-color-inactive;
  }

  .navbar-nav .nav-link {
    color: $font-color-inactive;
  }
  .navbar-nav .nav-link.active {
    color: $font-color-active;
  }

  .navbar-nav .nav-link:hover {
    color: $font-color-active;
  }
}

.modal-header {
  border-bottom: 1px solid $section-border-color;
}

.modal-footer {
  border-top: 1px solid $section-border-color;
}

.toast-container {
  position: absolute;
  align-self: center;
}
