#techStack {
  border-bottom: 3px solid;

  img {
    width: 50px;
    height: 50px;
  }
}

.techStack {
  &-container {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
  }
  &-icons {
    display: flex;
    width: inherit;
    justify-content: center;

    flex-wrap: wrap;
  }
  &-icon {
    display: flex;
    flex-direction: column;
    width: 70px;
    margin: 5px;
    align-items: center;
  }
}
