.contactForm {
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
    .form-control {
      margin-bottom: 15px;
    }

    .button-container {
      width: auto;
    }
    .button-primary {
      width: 100%;
    }

    .toast-container {
      position: absolute;
      align-self: center;
    }
  }
}
