@import "../../pages/index.scss";
.modal-header {
  color: $font-color-active;
  background-color: $modal-background-color;
}

.modal-body {
  display: flex;
  justify-content: center;
  color: $font-color-inactive;

  background-color: $modal-background-color;
}

.modal-button {
  width: auto;
  height: 90px;
  border-radius: 10px;

  // For mobile screen
  -webkit-border-radius: 10px;
  -webkit-transform: translateZ(0);
  // -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 30px;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
  }

  img {
    min-width: 150px;
    min-height: 150px;

    border-radius: inherit;
  }
}

.modal-footer {
  color: $font-color-inactive;
  background-color: $modal-background-color;
}
